[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb
*.cache
*.log
*.user
*.userosscache
*.suo
*.sln.docstates
.idea/
*.sln.iml
.vscode/
.vscode/*
.vs/
.vs/*
*.rsuser
*.sln.ide
*.suo
*.user
*.userosscache
*.sln.docstates
*.swp
.idea/
*.sln.iml
*.nupkg
packages
!packages/build/
!packages/repositories.config
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.vscode/*
.idea/*
*.cab
*.msi
*.msm
*.msp
*.lnk